.nav-container
  background-image: asset-url("images/top-nav.jpg")
  background-size: contain
  background-position: center top
  background-repeat: no-repeat
  padding: 1.5rem

nav
  margin-left: auto
  margin-right: auto
  padding: 0.3rem 15px 0
  font-size: 20.8px
  @include display(flex)
  @include flex-direction(row)

.nav-items
  @include display(flex)
  @include flex-direction(row)
  padding-top: 0.3rem
  margin-left: auto

.navbar .navbar-toggler, .navbar .navbar-toggler:focus, .navbar .navbar-toggler:hover
  border: none
  outline: none
  color: #262626
  font-size: 2.16rem
  background: none
  width: auto
  height: auto
  padding: 0

.nav-item > a
  color: $base-font-color
  transition: box-shadow .3s
  vertical-align: $small-spacing

  &:active, &:hover
    color: $red
    box-shadow: inset 0 -3px $red

  &.active
    color: $red

@media screen and (max-width: $medium-screen)
  nav
    display: block
    padding: 0
    text-align: center

  .nav-items
    margin-top: $small-spacing
    @include justify-content(center)


@media (max-width: 991px)
  .navbar-logo
    margin: auto

  .nav-item
    text-align: center

  .nav-item > a:active,
  .nav-item > a:hover
    box-shadow: none

  .nav-link
    padding-bottom: 0

@media (min-width: 576px)
  nav
    width: 540px
    max-width: 100%

@media (min-width: 768px)
  nav
    width: 720px
    max-width: 100%

@media (min-width: 992px)
  nav
    width: 960px
    max-width: 100%

@media (min-width: 1200px)
  nav
    width: 1140px
    max-width: 100%
