.newsletter-container
  width: 350px
  font-size: 12px
  line-height: 20px
  right: -300px
  top: 30%
  position: fixed
  z-index: 100

.newsletter-toggler
  float: left
  list-style: none outside none
  margin: 0
  padding: 10px
  font-size: 20px
  background-color: $gray-light
  position: relative
  z-index: 99

.newsletter-box
  width: 300px
  float: left

.show
  margin-right: 290px
  transition: margin-right .5s ease-in

.hide
  transition: margin-right .5s ease-in
  margin-right: 0px

.newsletter
  margin-top: $base-spacing
  padding: $base-spacing * 1.5
  border: 1px solid $light-gray
  background: #fff
  clear: left

.newsletter-popup
  padding: 2em
  background-color: $gray-light
  display: block

.newsletter, .newsletter-popup
  font: $fixed-font-size $base-font-family

  .one-third,
  .two-thirds
    @media screen and (max-width: $medium-screen)
      margin-top: $small-spacing
      text-align: center
      width: 100%

  .newsletter-input
    margin-bottom: 0

  .newsletter-label
    margin-bottom: $base-spacing
    text-align: center

  .newsletter-btn
    background-color: $red

    &:hover
      background-color: darken($red, 10%)

  .signup_hidden
    position: absolute
    left: -5000px
