.newsletter
  margin-top: $base-spacing
  padding: $base-spacing * 1.5
  border: 1px solid $light-gray
  background: #fff
  clear: left

.newsletter-popup
  position: fixed
  bottom: 0
  left: 0
  right: 0
  padding: 2em
  background-color: $gray-light
  display: none

  .close
    position: absolute
    top: 1rem
    right: 1rem
    font-size: 30px
    line-height: 20px

.newsletter, .newsletter-popup
  font: $fixed-font-size $base-font-family

  .one-third,
  .two-thirds
    @media screen and (max-width: $medium-screen)
      margin-top: $small-spacing
      text-align: center
      width: 100%

  .newsletter-input
    margin-bottom: 0

  .newsletter-label
    margin-bottom: $base-spacing
    text-align: center

  .newsletter-btn
    background-color: $red

    &:hover
      background-color: darken($red, 10%)

  .signup_hidden
    position: absolute
    left: -5000px
