footer
  div class="text--center"
    = link_to "https://ragnarson.com/?utm_source=ragnarson&utm_medium=blog&utm_campaign=blog-footer" do
      = responsive_image_tag "ragnar-desk.png", "ragnar-desk-2x.png"
